{% extends 'base.html' %}
{% block title %} Change Password Successfully {% endblock %}
{% block breadcrumb %}

  <ol class="breadcrumb my-4">
    <li class="breadcrumb-item"><a style="text-decoration:none;" href="{% url 'password_change' %}">Change Password</a></li>
    <li class="breadcrumb-item active">Success</li>
  </ol>

{% endblock %}
{% block content %}

<div class="alert alert-success mb-0" role="alert">
  Your Password has been changed
</div>

<a href="{% url 'home' %}" class="my-4">Return To Home</a>

{% endblock %}